In [18]:
import pandas as pd
from pathlib import Path

file_path = Path.home() / "Desktop/Machine-Learning/Naive-Theorem/titanic.csv"
df = pd.read_csv(file_path)
df.head()

,PassengerId,Name,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,1,"Braund, Mr. Owen Harris",3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,"Heikkinen, Miss. Laina",3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,female,35.0,1,0,113803,53.1000,C123,S,1
4,5,"Allen, Mr. William Henry",3,male,35.0,0,0,373450,8.0500,NaN,S,0

In [7]:
df.drop(['PassengerId', 'Name', 'SibSp', 'Parch', 'Ticket', 'Cabin', 'Embarked'], axis='columns', inplace = True)
df.head()

   Pclass     Sex   Age     Fare  Survived
0       3    male  22.0   7.2500         0
1       1  female  38.0  71.2833         1
2       3  female  26.0   7.9250         1
3       1  female  35.0  53.1000         1
4       3    male  35.0   8.0500         0

In [9]:
target=df.Survived
inputs=df.drop('Survived',axis='columns')

In [11]:
dummies = pd.get_dummies(inputs.Sex)
dummies.head(3)

   female   male
0   False   True
1    True  False
2    True  False

In [16]:
inputs = pd.concat([inputs,dummies],axis='columns')
inputs.head(3)

   Pclass   Age     Fare  female   male  female   male  female   male
0       3  22.0   7.2500   False   True   False   True   False   True
1       1  38.0  71.2833    True  False    True  False    True  False
2       3  26.0   7.9250    True  False    True  False    True  False

In [19]:
inputs.drop('Sex',axis='columns',inplace=True)
inputs.head(3)

KeyError: "['Sex'] not found in axis"

In [21]:
inputs.columns[inputs.isna().any()]

Index(['Age'], dtype='object')

In [23]:
inputs.Age[:10]

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
5     NaN
6    54.0
7     2.0
8    27.0
9    14.0
Name: Age, dtype: float64

In [25]:
inputs.Age = inputs.Age.fillna(inputs.Age.mean())
inputs.head()

   Pclass   Age     Fare  female   male  female   male  female   male
0       3  22.0   7.2500   False   True   False   True   False   True
1       1  38.0  71.2833    True  False    True  False    True  False
2       3  26.0   7.9250    True  False    True  False    True  False
3       1  35.0  53.1000    True  False    True  False    True  False
4       3  35.0   8.0500   False   True   False   True   False   True

In [46]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(inputs,target,test_size=0.2)

In [29]:
len(X_train)

712

In [31]:
len(X_test)

179

In [33]:
len(inputs)

891

In [47]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()

In [48]:
model.fit(X_train,y_train)

GaussianNB()

In [49]:
model.score(X_test,y_test)

0.8100558659217877

In [50]:
X_test[:10]

     Pclass        Age     Fare  female   male  female   male  female   male
41        2  27.000000  21.0000    True  False    True  False    True  False
857       1  51.000000  26.5500   False   True   False   True   False   True
401       3  26.000000   8.0500   False   True   False   True   False   True
562       2  28.000000  13.5000   False   True   False   True   False   True
819       3  10.000000  27.9000   False   True   False   True   False   True
824       3   2.000000  39.6875   False   True   False   True   False   True
86        3  16.000000  34.3750   False   True   False   True   False   True
46        3  29.699118  15.5000   False   True   False   True   False   True
340       2   2.000000  26.0000   False   True   False   True   False   True
6         1  54.000000  51.8625   False   True   False   True   False   True

In [71]:
y_test[:10]

41     0
857    1
401    0
562    0
819    0
824    0
86     0
46     0
340    1
6      0
Name: Survived, dtype: int64

In [77]:
model.predict(X_test[:10])

array([1, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [79]:
model.predict_proba(X_test[:10])

array([[3.55693707e-06, 9.99996443e-01],
       [9.99088683e-01, 9.11317396e-04],
       [9.99919250e-01, 8.07495297e-05],
       [9.99819864e-01, 1.80136299e-04],
       [9.99864082e-01, 1.35918402e-04],
       [9.99766436e-01, 2.33563738e-04],
       [9.99878308e-01, 1.21692081e-04],
       [9.99922728e-01, 7.72724136e-05],
       [9.99565798e-01, 4.34201686e-04],
       [9.98378782e-01, 1.62121752e-03]])